#backgroundPaws{
	background: #008000;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  max-width: 64em;
  margin: 0 auto;
  padding: 0;
  border: 0.1875em solid darkgreen;
  box-shadow: 0 0.625em 1.25em 0.625em;
	background: url(../images/wallpaperpaws.png);
	background-repeat: repeat;
  color: white;
	z-index:-1;
}

#description p{
	font-family: 'Roboto Slab', serif;
}

p{
	z-index:5;
	position: relative;
}

#tomParham p{
	font-family: 'Charmonman', cursive;
	font-size: 200%;
}

#dogSilhouette img{
	position: absolute;
	top: 62em;
	z-index:1;
	width: 25em;
	margin-left: 30em;
}

.card-block h4{
	font-weight: bold;
	font-family: 'Mali', cursive;
}

.navbar{
  background: #229033;
  border-bottom: 0.1875em solid darkgreen;
	border-right: 0.1875em solid darkgreen;
	border-left: 0.1875em solid darkgreen;
	max-width: 64em;
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

.navbar-nav a .active{
	color: gold;
}

.navbar-nav{
  width:85%;
  margin-left: 2em;
}

.nav-item {
  width: 20%;
}

.navbar-nav {
  color: white;
}

.jumbotron{
  background-color: #008000;
}

#tomandlilly img{
	width: 38em;
	height: 30em;
	margin-left: 20%;
}

.card{
	background-color: #FCB514;
}

.card-text{
	height: 16em;
}

#backupSitters{
	font-size: 130%;
	font-weight: bold;
	font-family: 'Mali', cursive;
}

.row{

}

#testimonial h2{
	padding-left: 26%;
	margin-right: auto;
	text-align: center;
}

hr{
	width: 100%;
}

#testimonialtext{
	margin-left: 30em;
	width: 20em;
}

#testimonialimage1 img{
	margin-left: 2em;
	width: 25em;
	height: 35em;
}



#video{
	float: left;
	margin-left: 5em;
	padding-left: 5%;
}

#video iframe{
	border-style: solid;
	border-width: 5px;
	width: 100%;
	height: 35em;
}

#footer{
  text-align: center;
}
 .blockquote-footer{
   color: gold;
 }

#icons{
  font-size: 150%;
  float: right;
  margin-top: .5em;
}

#contactForm{
  text-align: center;
  margin: 0 auto;
  width: 50%
}

.btn{
	float: right;
}

footer p i{
	text-align: center;
}



@media only screen and (max-width: 990px) {

	#testimonialimage1{
		padding-top: 40em;
		padding-left: 20%;
	}

	#video{
	padding-left: 20%;
	}

  p{
    font-size: 100%;
  }

	#dogSilhouette img{
		display: none;
	}

	#tomandlilly img{
		margin-left: 12%;
		width: 35em;
		height: 28em;
	}

  .card-img-top{
    height: 15em;
  }
  .card{
    height: 32em;
  }
  .card-text{
    font-size: 70%;
		font-weight: bold;
  }
  .card-title{
    font-size: 90%;
  }
	#backupSitters{
		font-size: 90%;
	}

	#video{
		margin-left: 4em;
	}

	#testimonialtext{
		margin-left: 28em;
		width: 18em;
		font-size: 95%;
	}
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {

	/*body{
		width: 100%;
		background-color: red;
	}*/

	#testimonialimage1{
		padding-top: 40em;
		padding-left: 10%;
	}

	#video{
	padding-left: 5%;
	}

	.navbar{
		width: 100%;
	}

	#description h2{
		font-size: 300%;
	}

	#tomandlilly img{
		margin-left: 7%;
		width: 30em;
		height: 22em;
	}

	.card-title{
		font-size: 200%;
	}

	#backupSitters{
		font-size: 200%;
	}

	.card-text{
		padding-bottom: 2em;
		font-size: 105%;
	}

	.col-md-3{
		margin-bottom: 3em;
	}

  .card-img-top{
		margin-top: 2em;
		margin-left: auto;
    margin-right: auto;
    width: 50%;
		height: 17em;
		border-style: solid;
		border-width: 5px;
		border-color: white;
  }

  .card{
    width: 80%;
		height: 35em;
		margin-left: 10%;
		border-style: solid;
		border-width: 5px;
  }

	.display-5{
		text-align: center;
	}

	#testimonialtext{
		position: relative;
		padding-top: 35em;
		margin-left: 12em;
	}

	#video {
		float: center;
		margin-left: 28%;
	}

	#video iframe{
		float: center;
		max-width: 200%;
	}

	#footer{
		font-size: 80%;
	}

}

@media only screen and (max-width: 700px) {
	#video {
		float: center;
		margin-left: 25%;
	}

	#testimonialimage1{
		display: none;
	}

	#video{
	padding-left: 0%;
	}

}

@media only screen and (max-width: 610px) {
	#video {
		float: center;
		margin-left: 20%;
	}
	#tomandlilly img{
		margin-left: 5%;
		width: 25em;
		height: 18em;
	}
}

@media only screen and (max-width: 530px) {
	#video {
		float: center;
		margin-left: 16%;
	}

	#testimonialtext{
		margin-left: 6em;
	}

	#tomandlilly img{
		margin-left: 5%;
		width: 20em;
		height: 15em;
	}
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {

	/*body{
		width: 100%;
		background-color: blue;
	*/

	#description h2{
		font-size: 200%;
	}

	.card{
		margin-left: 10%;
  }

	.card-title{
		font-size: 120%;
	}

	#backupSitters{
		font-size: 120%;
	}

	.card-text{
		font-size: 87%;
	}

	.card-img-top{
		height: 35%;
		width: 55%;
  }

	.display-5{
		text-align: center;
	}

	#testimonialtext{
		position: relative;
		padding-top: 35em;
		margin-left: 7em;
		width: 50%;
	}

	#video{
		margin-left: 7%;
	}

	.blockquote{
		font-size: 95%;
	}

	#footer{
		font-size: 55%;
	}

	.btn{
		float: left;
	}

	#questions{
		width: 95%;
	}

	#tomandlilly img{
		display: none;
	}

}

@media only screen and (max-width: 400px) {
	#video {
		float: center;
		margin-left: 5%;
		max-width: 150%;
	}
	#video iframe{
		float: center;
		max-width: 150%;
	}
}

@media only screen and (max-width: 350px) {
	#video {
		float: center;
		margin-left: 0;
	}
}
